server:
  port: 8080
spring:
  application:
    name: spring-boot-vue-crud
  datasource:
    url: jdbc:postgresql://postgres:5432/springVueDB # here postgres is the host name of the container that is running postgres
    username: postgres
    password: password
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: none
      format_sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
  sql:
    init:
      mode: always
